<header>
  <nav class="navbar navbar-expand container ">
    <a class="navbar-brand" href="#"><i class="fa fa-home icon-home"> </i></a>
    <div class="dropdown ml-auto">
      <button class="btn btn-light dropdown-toggle" type="button" id="langDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Lang
      </button>
      <div class="dropdown-menu" aria-labelledby="langDropdown">
        <a class="dropdown-item" *ngIf="!locationRef.includes('es.i18n.fun')" href="https://es.i18n.fun">ES</a>
        <a class="dropdown-item" *ngIf="!locationRef.includes('fr.i18n.fun')" href="https://fr.i18n.fun">FR</a>
        <a class="dropdown-item" *ngIf="!locationRef.includes('ja.i18n.fun')" href="https://ja.i18n.fun">JA</a>
        <a class="dropdown-item" *ngIf="!locationRef.includes('https://i18n.fun/')" href="https://i18n.fun">EN</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <article class="container-fluid">
    <header class="article-header">
      <h1 i18n="Header title|Main header for the app@@appHeaderTitle">Internationalization </h1>
      <p i18n="Header subtitle|Subtitle for the main header@@appHeaderSubtitle">Let's see a short example </p>
    </header>

    <section class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <form class="form-inline" (ngSubmit)="submitForm()" #sampleForm="ngForm">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="message" name="message"
                placeholder="What's on your mind?"
                i18n-placeholder="Input placeholder form on your mind|Placeholder for the input on your mind@@InputPlaceholderMind">
              <button class="btn btn-dark" type="submit">
                <ng-container i18n="Submit form|Button that trigger the action of a form@@SubmitButton">
                  Submit
                </ng-container>
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 col-sm-6">
          <h6 i18n="Header of section list of things|Header of the list of things i had on my mind@@HeaderListThings">
            Things i had on my mind</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let i of messages">
              {{i}}
            </li>
          </ul>
        </div>
      </div>

    </section>
  </article>
</main>

<footer>
  <div class="container">
    <span>DATOLA</span>
  </div>
</footer>