<header>
  <nav class="navbar navbar-expand container ">
    <a class="navbar-brand" href="#"><i class="fa fa-home icon-home"> </i></a>
    <div class="dropdown ml-auto">
      <button class="btn btn-light dropdown-toggle" type="button" id="langDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Lang
      </button>
      <div class="dropdown-menu" aria-labelledby="langDropdown">
        <a class="dropdown-item" href="#">ES</a>
        <a class="dropdown-item" href="#">FR</a>
        <a class="dropdown-item" href="#">JA</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <article class="container-fluid">
    <header class="article-header">
      <h1>Internationalization </h1>
      <p>Let's see a short example </p>
    </header>

    <section class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <form class="form-inline" (ngSubmit)="submitForm()" #sampleForm="ngForm">
            <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="message" name="message"
                placeholder="What's on your mind?">
              <button class="btn btn-dark" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-12 col-sm-6">
          <h6>Thing i had on my mind</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let i of messages">
              {{i}}
            </li>
          </ul>
        </div>
      </div>

    </section>
  </article>
</main>

<footer>
  <div class="container">
    <span>DATOLA</span>
  </div>
</footer>